<div class="sup-container">
    <div class="main-container" style="border: none;">
        <img src="../../../assets/images/download (1).jpega" alt="">
    </div>
    <div class="main-container">
        <h1 class="login-h1">Forgot Password Page</h1>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="admin@gmail.com">
                <mat-error *ngIf="forgotForm.controls['email'].hasError('required')">email should be provided</mat-error>
                <mat-error *ngIf="forgotForm.controls['email'].hasError('email')">Not a valid Email</mat-error>
            </mat-form-field>
            <div class="button">
                <button (click)="cancel()" type="button" mat-raised-button>
                    Cancel
                </button>
                <button type="submit" mat-raised-button color="primary">
                    Send OTP
                </button>
            </div>
        </form>
    </div>
</div>