.sup-container {
    display: flex;
    align-content: center;
    height: 100vh;

    .login-h1 {
        text-align: center;
        color: blue;
    }

    .main-container {
        margin: auto;
        width: 500px;
        max-width: 500px;
        padding: 25px;
        border-radius: 5px;
        border: 1px solid gray;

        img {
            width: 100%;
        }

        form {
            mat-form-field {
                width: 100%;
            }

            .button {
                margin: auto;
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 15px;
            }
        }
    }
}