<div class="main-container">
    <div class="title">
        Terms & Conditions
    </div>
    <div class="body">
        <div class="head">
            Chit Agreement
        </div>
        <div class="block">
            Chit agreement is a document agreed to and signed by the foreman and the subscribers. It contains all the details about the chit scheme floated by the chit fund business. It should contain the following particulars:
        </div>
        <div class="block">
            <ul>
                <li>
                    Name and permanent address of the subscriber, and number of tickets subscribed by him
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nihil ipsum magni deserunt tenetur officiis nam eligendi expedita cumque at amet eaque similique pariatur obcaecati consequatur voluptate, impedit fugiat odit!
                </li>
                <li>
                    Name and permanent address of Lorem ipsum dolor sit amet. the subscriber, and number of tickets subscribed by him
                </li>
                <li>
                    Name and permanent address Lorem ipsum dolor sit amet consectetur adipisicing elit. of the subscriber, and number of tickets subscribed by him
                </li>
                <li>
                    Name and permanent Lorem, ipsum. address of the subscriber, and number of tickets subscribed by him
                </li>
                <li>
                    Name and permanent address of the subscriber, and number of tickets subscribed by him
                </li>
            </ul>
        </div>
        <div class="block">
            Two copies of all chit agreements should be filed with the Registrar within three months. One copy should be endorsed by the Registrar and returned to the applicant. Bidding on the chit is allowed only after copies of these endorsed agreements have been distributed among all the subscribers. A declaration stating that this distribution has been carried out should be filed with the Registrar.
        </div>
        <div class="head">
            Maximum Permissible Chit Amount
        </div>
        <div class="block">
            The chit amount refers to the total amount of subscriptions for any instalment of a chit. This amount is regulated by Section 13 of the Act as follows:
        </div>
        <div class="block">
            If a person carrying on a chit fund business is:
        </div>
        <div class="block">
            <ul>
                <li>
                    An individual, Lorem ipsum, dolor sit amet consectetur adipisicing elit. the maximum chit amount permitted is one lakh rupees (Three lakh rupees as per the Chit Funds Amendment Bill, 2019).
                </li>
                <li>
                    An individual, the maximum chit amount permitted is one lakh rupees (Three lakh rupees as per the Chit Funds Amendment Bill, 2019).
                </li>
                <li>
                    An individual, the maximum chit amount permitted is one lakh rupees (Three lakh rupees as per the Chit Funds Amendment Bill, 2019).
                </li>
                <li>
                    An individual, the maximum chit amount permitted is one lakh rupees (Three lakh rupees as per the Chit Funds Amendment Bill, 2019).
                </li>
            </ul>
        </div>
        <div class="head">
            Draw
        </div>
        <div class="block">
            A draw is a process by which the successful bidder is selected. It should be performed in the presence of the foreman and at least two members. Members may participate through video-conferencing. Every time a draw is conducted, the following particulars should be entered in the minutes’ book:
        </div>
        <div class="block">
            <ul>
                <li>
                    Place and time at which the draw was conducted
                </li>
                <li>
                    Place and time at which the draw was conducted
                </li>
                <li>
                    Place and time at which the draw was conducted
                </li>
            </ul>
        </div>
        <div class="block">
            All the participants should sign the minutes’ book. In case the members participated through video-conferencing, the minutes’ book should be signed within two days (Section 7 of the Chit Funds Amendment Bill, 2019). A copy of the minutes should be filed with the Registrar within 21 days. Notice of the draw should be given to the Registrar 21 days prior to the date of draw.
        </div>
    </div>
</div>