<div class="sup-container">
    <div class="main-container" style="border: none;">
        <img src="../../../assets/images/download.pngk" alt="">
    </div>
    <div class="main-container">
        <div class="two">
        <h1 class="login-h1">Reset Password</h1>
        <form [formGroup]="resetFrom" (ngSubmit)="reset()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="admin@gmail.com">
                <mat-error *ngIf="resetFrom.controls['email'].hasError('required')">email should be provided</mat-error>
                <mat-error *ngIf="resetFrom.controls['email'].hasError('email')">Not a valid Email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="atleast 6 characters">
                <mat-error>
                    password should be atleast 6 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>OTP</mat-label>
                <input type="text" pattern="[0-9]{6}" formControlName="otp" matInput placeholder="Ex: 111111" maxlength="6">
                <mat-error *ngIf="resetFrom.controls['otp'].hasError('required')">OTP should be provided</mat-error>
                <mat-error *ngIf="resetFrom.controls['otp'].hasError('minlength')">Should be a Six digit number</mat-error>
                <mat-error *ngIf="resetFrom.controls['otp'].hasError('pattern')">Must be a Number</mat-error>
            </mat-form-field>
            <div class="button"><button (click)="cancel()" type="button" mat-raised-button>
                    Cancel
                </button>
                <button type="submit" mat-raised-button color="primary">
                    Reset
                </button>
            </div>
        </form></div>
    </div>
</div>