<div class="sup-container">
    <div class="main-container">
        <div class="block" title="Chit Funds" routerLink="/home">
            <img src="../../../assets/images/chitfundlogo.jpg" alt="">
        </div>
        <div class="block let">
            Chit Fund
        </div>
        <div class="block let">
            Chit List
        </div>
        <div class="block let">
            Bussiness Info
        </div>
        <div class="block up">
            <mat-icon title="User Profile" routerLink="profile">
                account_circle
            </mat-icon>
        </div>
    </div>
</div>